body {
    margin: 5%;
  

  }
  .Text {
    color: hsl(228, 39%, 23%);
    font-size: 20px;
    font-family: "Garamond";
    font-weight: 100px;
    text-align: center;
  }
  .said-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  .card {
    background-color: hsl(240, 13%, 94%);
    width: 300px;
    height: 180px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .Img-card {
    height: 70px;
    width: 70px;
    margin-top: -20px;
  }
  .card h2 {
    font-size: 15px;
    font-weight: 100px;
    font-family: Arial;
  }
  .card p {
    font-size: 15px;
    font-family: Arial;
    text-align: center;
    color: hsl(240, 1%, 56%);
    margin-top: 10px;
  }
  
  .botonn {
    width: 100px;
    height: 50px;
    background-color: rgb(236, 82, 22);
    border-radius: 40px;
    font-size: 13px;
    color: cornsilk;
    border: 1px solid rgb(236, 82, 22);
    margin-top: 60px;
  }
  .section-two{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
        width:100%;
          height:auto;
          background-color: hsl(21, 87%, 48%); 
          margin-top: 100px;
    
                 
  }
  .container{
   
      width: auto;
      height: 100px;
   
  }
  .botonn-one {
      width: 100px;
      height: 50px;
      background-color: hsl(0, 0%, 100%);
      border-radius: 40px;
      font-size: 13px;
      color: rgb(236, 82, 22);
      border: 1px solid rgb(236, 82, 22);
     

    }
    .section-two h2{
    color: hsl(228, 39%, 23%);
    font-size: 20px;
    font-family: "Garamond";
    font-weight: 100px;
    align-self: center;
    

    }
    .section-two button{
    width: 100px;
    height: 50px;
    }
@media screen and (max-width:576px) {
  .Text{
    background-color: chartreuse;
  }


  }

@media screen and (max-width:768px) {
  .said-card{
    display: flex;
    flex-direction: column;
  }
 
}
